/fpga_firmware/software/wasca_test9_bsp/obj/HAL/src/*.o
/fpga_firmware/db/
/fpga_firmware/incremental_db/
/fpga_firmware/output_files/
/fpga_firmware/software/.metadata/
/fpga_firmware/software/wasca_test9/mem_init/
/fpga_firmware/software/wasca_test9_bsp/obj/
/fpga_firmware/software/wasca_test9/obj/
/fpga_firmware/software/wasca_test9/*.flash
/fpga_firmware/software/wasca_test9/*.elf
/fpga_firmware/software/wasca_test9/*.objdump
/fpga_firmware/software/wasca_test9/*.map
/fpga_firmware/software/wasca_test9_bsp/*.a
/fpga_firmware/software/wasca_sdram_debug/mem_init/
/fpga_firmware/software/wasca_sdram_debug_bsp/obj/
/fpga_firmware/software/wasca_sdram_debug/obj/
/fpga_firmware/software/wasca_sdram_debug/*.flash
/fpga_firmware/software/wasca_sdram_debug/*.elf
/fpga_firmware/software/wasca_sdram_debug/*.objdump
/fpga_firmware/timing/stamp/
/fpga_firmware/flash/*.flash
/fpga_firmware/wasca/*.rpt
/fpga_firmware/wasca_signaltap.stp
/fpga_firmware/simulation/
/fpga_firmware/software/wasca_test9/.force_rebuild
/fpga_firmware/software/wasca_test9/.force_relink
/fpga_firmware/software/wasca_test9_bsp/.force_rebuild_all
/fpga_firmware/software/wasca_test9/.settings/org.eclipse.cdt.codan.core.prefs
/fpga_firmware/wasca.ipregen.rpt
