LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS25;

LOCATE COMP "btn" SITE "L14";
IOBUF PORT "btn" IO_TYPE=LVCMOS25;

LOCATE COMP "led[0]" SITE "A11";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B11";
LOCATE COMP "led[3]" SITE "C11";
LOCATE COMP "led[4]" SITE "D11";
LOCATE COMP "led[5]" SITE "E11";
LOCATE COMP "led[6]" SITE "B10";
LOCATE COMP "led[7]" SITE "C10";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;