LOCATE COMP "clk_25" SITE "P6";
IOBUF PORT "clk_25" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25" 25.0 MHz ;

#Internal LEDs
LOCATE COMP "led[0]" SITE "A11";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B11";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

#External LEDs
LOCATE COMP "led[3]" SITE "C13";
LOCATE COMP "led[4]" SITE "D13";
LOCATE COMP "led[5]" SITE "C12";
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

#UART
LOCATE COMP "uart_tx" SITE "B9";
LOCATE COMP "uart_rx" SITE "A9";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

#external SD
LOCATE COMP "sd_cmd" SITE "P13";
LOCATE COMP "sd_clk" SITE "N12";
LOCATE COMP "sd_dat[0]" SITE "P12";
LOCATE COMP "sd_dat[1]" SITE "P11";
LOCATE COMP "sd_dat[2]" SITE "P14";
LOCATE COMP "sd_dat[3]" SITE "N13";
IOBUF PORT "sd_cmd" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_clk" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_dat[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_dat[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_dat[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_dat[3]" IO_TYPE=LVCMOS33;

#abus
LOCATE COMP "abus_address[1]" SITE "A7";
LOCATE COMP "abus_address[2]" SITE "J1";
LOCATE COMP "abus_address[3]" SITE "J2";
LOCATE COMP "abus_address[4]" SITE "K1";
LOCATE COMP "abus_address[5]" SITE "K2";
LOCATE COMP "abus_address[6]" SITE "L1";
LOCATE COMP "abus_address[7]" SITE "L2";
LOCATE COMP "abus_address[8]" SITE "B5";
LOCATE COMP "abus_address[9]" SITE "A5";
LOCATE COMP "abus_address[10]" SITE "B8";
LOCATE COMP "abus_address[11]" SITE "A8";
LOCATE COMP "abus_address[12]" SITE "B4";
LOCATE COMP "abus_address[13]" SITE "A4";
LOCATE COMP "abus_address[14]" SITE "M1";
LOCATE COMP "abus_address[15]" SITE "A3";
LOCATE COMP "abus_address[16]" SITE "M2";
LOCATE COMP "abus_address[17]" SITE "D3";
LOCATE COMP "abus_address[18]" SITE "N1";
LOCATE COMP "abus_address[19]" SITE "D1";
LOCATE COMP "abus_address[20]" SITE "N3";
LOCATE COMP "abus_address[21]" SITE "C2";
LOCATE COMP "abus_address[22]" SITE "P1";
LOCATE COMP "abus_address[23]" SITE "C1";
LOCATE COMP "abus_address[24]" SITE "P2";
LOCATE COMP "abus_data[0]" SITE "E12";
LOCATE COMP "abus_data[1]" SITE "E13";
LOCATE COMP "abus_data[2]" SITE "E14";
LOCATE COMP "abus_data[3]" SITE "F13";
LOCATE COMP "abus_data[4]" SITE "K13";
LOCATE COMP "abus_data[5]" SITE "J14";
LOCATE COMP "abus_data[6]" SITE "J13";
LOCATE COMP "abus_data[7]" SITE "H14";
LOCATE COMP "abus_data[8]" SITE "F14";
LOCATE COMP "abus_data[9]" SITE "G13";
LOCATE COMP "abus_data[10]" SITE "G14";
LOCATE COMP "abus_data[11]" SITE "H13";
LOCATE COMP "abus_data[12]" SITE "M13";
LOCATE COMP "abus_data[13]" SITE "L14";
LOCATE COMP "abus_data[14]" SITE "L13";
LOCATE COMP "abus_data[15]" SITE "K14";
LOCATE COMP "abus_chipselect[0]" SITE "B7";
LOCATE COMP "abus_chipselect[1]" SITE "G2";
LOCATE COMP "abus_chipselect[2]" SITE "A6";
LOCATE COMP "abus_read" SITE "H2";
LOCATE COMP "abus_write[0]" SITE "B6"; 
LOCATE COMP "abus_write[1]" SITE "G1"; 
LOCATE COMP "abus_interrupt" SITE "F1"; 
LOCATE COMP "abus_direction" SITE "E2"; 
LOCATE COMP "abus_interrupt_disable_out" SITE "R1"; 
IOBUF PORT "abus_address[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[16]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[17]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[18]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[19]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[20]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[21]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[22]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[23]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_address[24]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_data[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_chipselect[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_chipselect[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_chipselect[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_read" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_write[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_write[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_interrupt" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_direction" IO_TYPE=LVCMOS33;
IOBUF PORT "abus_interrupt_disable_out" IO_TYPE=LVCMOS33;
