LOCATE COMP "clkin" SITE "P6";
IOBUF PORT "clkin" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A11";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B11";
LOCATE COMP "led[3]" SITE "C11";
LOCATE COMP "led[4]" SITE "D11";
LOCATE COMP "led[5]" SITE "E11";
LOCATE COMP "led[6]" SITE "B10";
LOCATE COMP "led[7]" SITE "C10";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_tx" SITE "A9";
LOCATE COMP "uart_rx" SITE "B9";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "disp[0]" SITE "L1";
LOCATE COMP "disp[1]" SITE "L2";
LOCATE COMP "disp[2]" SITE "L4";
LOCATE COMP "disp[3]" SITE "L5";
LOCATE COMP "disp[4]" SITE "L3";
LOCATE COMP "disp[5]" SITE "M1";
LOCATE COMP "disp[6]" SITE "M2";
LOCATE COMP "disp[7]" SITE "M3";
LOCATE COMP "disp[8]" SITE "M4";
LOCATE COMP "disp[9]" SITE "N1";
LOCATE COMP "disp[10]" SITE "N3";
LOCATE COMP "disp[11]" SITE "N4";
LOCATE COMP "disp[12]" SITE "N5";
LOCATE COMP "disp[13]" SITE "N6";

IOBUF PORT "disp[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "disp[13]" IO_TYPE=LVCMOS33;
