LOCATE COMP "clk_25" SITE "P6";
IOBUF PORT "clk_25" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A11";
LOCATE COMP "led[1]" SITE "A12";
LOCATE COMP "led[2]" SITE "B11";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "uart_tx" SITE "B9";
LOCATE COMP "uart_rx" SITE "A9";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "sd_cmd" SITE "H12";
LOCATE COMP "sd_clk" SITE "J12";
LOCATE COMP "sd_dat[0]" SITE "K12";
LOCATE COMP "sd_dat[1]" SITE "L12";
LOCATE COMP "sd_dat[2]" SITE "F12";
LOCATE COMP "sd_dat[3]" SITE "G12";
IOBUF PORT "sd_cmd" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_clk" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_dat[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_dat[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_dat[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "sd_dat[3]" IO_TYPE=LVCMOS33;
